@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito&family=Pacifico&family=Roboto:wght@300;700&family=Rubik&display=swap');

:root {
    --primary: #c51a00;
    --primary-lighter: #c27266;
    --gray-background: rgb(228, 228, 228);
}

.login_page{
    display: flex;
    flex-direction: row;
    font-family: 'Rubik', sans-serif;
}

.login_page main {
    margin: -1vh -1vw -1vh -0.6vw;
    width: 50vw;
    height: 99.8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_page h1 {
    font-size: 40px;
}

.login_input {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
}

.login_input input {
    width: 40%;
    height: 35px;
    margin-bottom: 0.5rem;
    background-color: var(--gray-background);
    border: none;
    border-radius: 10px;
    padding-left: 1rem;
}

.login_button {
    width: 30%;
    height: 40px;
    border: none;
    background-color: var(--primary);
    color: white;
    font-size: 20px;
    border-radius: 20px;
}

.login_button:hover {
    cursor: pointer;
    transition: 500ms ease;
    background-color: var(--primary-lighter);
}

.login_page aside {
    margin: -1vh -0.5vw -1vh 1vw;
    width: 50vw;
    height: 99.8vh;
    background: var(--primary);
    border-radius: 200px 0 0 200px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_page h2 {
    font-size: 35px;
}

.login_page p {
    width: 80%;
}